body {
    margin: 0;
    font-family: Montserrat;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0;
}


/* Header 
==========================*/


.container-header {
    margin: 68px 0 0 0;
}

.mars-logo {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    float: left;
}


.phone-number {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #92a1a5;
    text-decoration: none;
}


.phone-number:hover {
    text-decoration: underline #92a1a5;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 20px;
    width: 100%;
    max-width: 1570px;
    background-color: black;
}


.left-nav {
    display: flex;
    align-items: center;
}


.phone-img {
    margin: 0 0 0 71px;
}


.phone-number {
    display: flex;
    align-items: center;
    margin: 0 0 0 8px;
}


.button-buy-now {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
}


.button-buy-now:hover {
    border-bottom: 1px solid #ffffff;
    transition: 0.3;
}


.menu-bar-button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0 0 0 38px;
}



/* Container journey 
===========================*/


.contaienr-journey {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    height: 1190px;
    width: 100%;
    max-width: 2004px;
    background-image: url(../img/journey-background2.jpg);
}

.journey-title {
    font-family: Montserrat;
    font-size: 92px;
    font-weight: 700;
    color: #ffffff;
    padding: 779px 0 56px 0;
}


.journey-button {
    color: #318f76;
    background-color: #ffffff;
    padding: 22px 36px;
    border: none;
    border-radius: 35px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}


/* Footer
===========================*/


.container-footer {
    height: 538px;
    width: 100%;
    max-width: 2000px;
    background-color:#f1f1f1;
    padding-top: 196px;
}


.footer-image {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    height: 262px;
    width: 1181px;
    background-image: url(../img/footer-img.png);
}


.footer-content {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.footer-title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}


.footer-subtitle {
    font-size: 14px;
    font-weight: 400; 
    line-height: 30px;
    color: #92a1a5;
}